.hero-unit
	%h1 Welcome to AppleCart
	%p= "Order delicious candy apples and support breast cancer research."
	= link_to "Sign up to start ordering!", new_user_registration_path, :class => "btn btn-large btn-primary"