// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

#actions {
	float: right;
	margin-right: 40px;
	margin-bottom: 40px;
}

#order-list {
	margin-top: 30px;
}

#total {
	text-align: right;
	padding-right: 40px;
}

.paid {
	color: $green;
}

.not-paid {
	color: $red;
}