.header {
	margin-bottom: 10px;
}

.header > h1 {
	font-size: 5em;
	line-height: 1.5em;
	text-align: center;
}

.header > p {
	font-size: 1.6em;
	font-style: italic;
	line-height: 1em;
	text-align: center;
}

footer {
	clear: both;
}