%footer
	%ul.nav.nav-pills
		%li= link_to "Home", page_path("home")
		%li= link_to 'Donate', "http://main.acsevents.org/site/TR?px=12783188&pg=personal&fr_id=55796"
		%li= link_to "About", page_path("about")
		%li= link_to "Help", page_path("help")